<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>json,cobertura</Format>
          <ExcludeByAttribute>
            Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute,ExcludeFromCodeCoverageAttribute
          </ExcludeByAttribute>
          <IncludeDirectory>../FirstTestApp/</IncludeDirectory>
          <ExcludeDirectory>../FirstTestApp.Tests/</ExcludeDirectory>
          <SingleHit>false</SingleHit>
          <UseSourceLink>false</UseSourceLink>
          <IncludeTestAssembly>true</IncludeTestAssembly>
          <ParallelizeTestCollections>true</ParallelizeTestCollections>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>